 body,h1,h2,ul,li{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;;
    margin: 0;
    padding: 0;
}
header{
    background-color:blue ;
    color:#fff ;
    text-align:center ;
    padding: 20px 0;
}
header h1{
    font-size: 36px;
}
nav{
    background-color: aqua;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin-right: 40px;
}
nav a{
    color:#333;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
main{
    padding: 40px;
}
section{
    background-color: rgba(203, 222, 181, 0.877);
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
}
section h2{
    font-size: 24px;
    margin-bottom: 30px;
}

footer{
    background-color:  #464646;;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}